
#navbarSupportedContent ul li a:hover{
    color: #ffc107;
    text-decoration: none;
}

/*Que cargue una fuente de manera local*/


@font-face{/*Roboto Medium*/
    font-family: lato-light; /*un alias al nombre de la fuente*/
    src:url(/assets/fonts/lato/Lato-Light.ttf)/*Ubicación de la Fuente*/
}

@font-face{/*Roboto Medium*/
    font-family: lato-bold; /*un alias al nombre de la fuente*/
    src:url(/assets/fonts/lato/Lato-Bold.ttf)/*Ubicación de la Fuente*/
}

.miNavbar{
    text-decoration: none;
    color: #ffffff;
}

.miPersonal {
    height: 1050px;
    width: 100%;
    background-image: url("/assets/img/anonimo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.miPersonal:hover{
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    transition-property: background-color;
    transition-duration: .4s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.4s;
}

.textoPrincipal{
    font-family: lato-light;
}

.formato{
    font-size: 25px;
}

.miTexto{
    color:yellow;
    font-family: lato-bold;
}

.contieneCards{
    background-color: #B8F1B0;
}

.caja{
 height: 80px;

}

.caja h1{
    color: #E45826;
    font-family: lato-bold;
}

.textJust{
   text-align: justify;
}

.cajaTituloCard{
    background-color: #395B64;
}

.contenidoCard{
    background-color: #EEEEEE;
}

.footerCard{
    background-color: #A5C9CA;
}

.subLista ul{
    list-style: none;
}
.subLista ul li::before{ content:"-"; position:absolute; margin-left: -1.1em;}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.carousel-inner img{
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
}
.carousel-indicators [data-bs-target] {
    position: relative;
    width: 60px;
    height: 6px;
    border: none;
    border-radius: 24px;
}

.carousel-caption span{
    color: #E45826;
}


